

@import 'bootstrap/dist/css/bootstrap.min.css';

body {
    font-family: Arial, sans-serif; /* Cambia "Arial" por la fuente que desees utilizar */
}

header {
    background-color: #4B0082; /* Color púrpura */
}

footer {
    background-color: #2E0854; /* Color púrpura oscuro */
    position: fixed;
    bottom: 0;
    width: 100%;   
    font-size:12px;
}

.nueva-vibe{

}


